<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Accept program</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="wrapper">
    <div th:insert="fragments/header.html::header"></div>

    <h2>Accept new program</h2><hr>
    <form class="form-control" th:object="${program}" method="post">
        <div type="text" th:value="${name}" id="name" name="name" placeholder="Update new name of the program"></div><br>
        <div type="number" th:value="${duration}" id="duration" name="duration" placeholder="Update new duration"></div><br>
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows=7 placeholder="Update description of program" required th:text="${description}"/><br>
        <select th:field="*{trainer}">
                <option th:each="train: ${trainers}" th:value="${train.id}" th:text="${train.name}"></option>
            </select>
            <button class="edit" type="submit">Accept</button>
    </form>

</div>
<div th:insert="fragments/footer.html::footer"></div>
</body>
</html>