<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD/EN"
        "http://www.hibernate.org/xsd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Agent8998Agent_007</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_vehicles</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <mapping class="com.nix.lesson10.model.vehicle.Motorcycle"/>
        <mapping class="com.nix.lesson10.model.vehicle.Truck"/>
        <mapping class="com.nix.lesson10.model.vehicle.Engine"/>
        <mapping class="com.nix.lesson10.model.vehicle.Auto"/>
        <mapping class="com.nix.lesson10.model.Invoice"/>
    </session-factory>
</hibernate-configuration>